{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
        <h1><a href="/">My Blog</a></h1>
    </header>

    <main class="container">
        {% for post in posts %}
        <article class="post">
            <time class="date">Published: {{ post.published_date }}</time>
            <h2><a href="#">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {% endfor %}
    </main>
</body>

</html>